<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Katte liste</title>
</head>

<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<h1 style="text-align: center; color: rebeccapurple; font-size: 30px; margin-top: 10px;">Vores katte</h1>

    <table border="1" class="cat-table">
        <thead>
        <tr>
            <th>Billede</th>
            <th>Navn</th>
            <th>Race</th>
            <th>Fødselsdag</th>
            <th>Køn</th>
            <th>Beskrivelse</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cat : ${cats}">
            <td>
                <img th:if="${cat.imageName != null}"
                     th:src="${cat.imageName}"
                     alt="KatteBillede"
                     width="100">
                <!-- Valgfrit: Vis noget hvis der ikke er billede -->
                <span th:unless="${cat.imageName}">-</span>
            </td>
            <td th:text="${cat.catName}">
            </td>
            <td th:text="${cat.catRace}"></td>
            <td th:text="${cat.catBirthday}"></td>
            <td th:text="${cat.catGender}"></td>
            <td th:text="${cat.catDescription}"></td>
        </tr>
        </tbody>
    </table>
<div th:insert="~{parts/footer :: footer}" style="text-align: center; margin-bottom: 20px;"></div>
</body>
</html>