<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rediger profil</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="UTF-8">
</head>
<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<h1 style="text-align: center; color: rebeccapurple; font-size: 30px; margin-top: 10px;">Rediger profil</h1>


<div th:if="${errors != null}">
    <ul>
        <li th:each="error : ${errors}" th:text="${error}" style="color: red;"></li>
    </ul>
</div>

<form th:action="@{/editProfile/{id}(id=${editMember.memberID})}" method="post" th:object="${editMember}"
        class="form-container">

    <label>Navn:</label><br>
    <input type="text" th:field="*{username}" required><br><br>

    <label>E-mail:</label><br>
    <input type="email" th:field="*{email}" required><br><br>


    <label>Beskrivelse af dig:</label><br>
    <textarea th:field="*{memberDescription}" rows="3"></textarea><br><br>

    <button type="submit">Gem ændringer</button>
    <a href="/updatePassword">Ændre password</a><br><br>


</form>

<div style="display: flex; justify-content: center;">
    <button onclick="window.location.href='/myProfile'" style="margin-top: 10px; text-align: center">Gå til Min Profil</button>
</div>
<div th:insert="~{parts/footer :: footer}" style="text-align: center; margin-bottom: 20px;"></div>

</body>
</html>