<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Redigere Kat</title>
</head>
<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<h1 style="text-align: center; color: rebeccapurple; font-size: 30px; margin-top: 10px;">Rediger kat</h1>


<div th:if="${errors != null}">
    <ul>
        <li th:each="error : ${errors}" th:text="${error}" style="color: red; text-align: center"></li>
    </ul>
</div>

<form th:action="@{/editCat/{id}(id=${editCat.catID})}"
      method="post"
      th:object="${editCat}"
      enctype="multipart/form-data"
    class="form-container">

    <label>Katte navn:</label><br>
    <input type="text" th:field="*{catName}" style="width: 200px"><br><br>

    <label>Race:</label><br>
    <p>Sibirisk-Kat</p>
    <input type="hidden" th:field="*{catRace}"><br><br>

    <input type="date"
           name="catBirthday"
           th:value="${editCat.catBirthday}"><br><br>

    <label>Køn:</label><br>
    <select th:field="*{catGender}">
        <option value="Han ">Han</option>
        <option value="Hun">Hun</option>
    </select><br><br>

    <label>Beskrivelse:</label><br>
    <textarea th:field="*{catDescription}" rows="3" style="width: 200px"></textarea><br><br>

    <label>Billede:</label><br>
    <input type="file" name="image" accept="image/*"><br><br>

    <!-- Show current image if exists -->
    <img th:if="${editCat.imageName != null}"
         th:src="${editCat.imageName}"
         width="150"><br><br>

    <button type="submit">Gem</button>

    <input type="hidden" th:field="*{memberID}">


</form>
<div style="display: flex; justify-content: center;">
    <button onclick="window.location.href='/myProfile'" style="margin-top: 10px; text-align: center">Gå til Min Profil</button>
</div>

<div th:insert="~{parts/footer :: footer}" style="text-align: center; margin-bottom: 20px;"></div>


</body>
</html>