<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redigere Kat</title>
</head>
<body>

<h2>Rediger Kat</h2>

<div th:if="${errors != null}">
    <ul>
        <li th:each="error : ${errors}" th:text="${error}"></li>
    </ul>
</div>

<form th:action="@{/editCat/{id}(id=${editCat.catID})}"
      method="post"
      th:object="${editCat}"
      enctype="multipart/form-data">

    <label>Katte navn:</label><br>
    <input type="text" th:field="*{catName}"><br><br>

    <label>Race:</label><br>
    <p>Sibirisk-Kat</p>
    <input type="hidden" th:field="*{catRace}"><br><br>

    <input type="date"
           name="catBirthday"
           th:value="${editCat.catBirthday}"><br><br>

    <label>Køn:</label><br>
    <select th:field="*{catGender}">
        <option value="Han ">Han</option>
        <option value="Hun">Hun</option>
    </select><br><br>

    <label>Beskrivelse:</label><br>
    <textarea th:field="*{catDescription}" rows="3"></textarea><br><br>

    <label>Billede:</label><br>
    <input type="file" name="image" accept="image/*"><br><br>

    <!-- Show current image if exists -->
    <img th:if="${editCat.imageName != null}"
         th:src="${editCat.imageName}"
         width="150"><br><br>

    <button type="submit">Gem</button>

    <input type="hidden" th:field="*{memberID}">


</form>

<p><a href="/myProfile">Gå til profil</a></p>

</body>
</html>