<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>



<p>
    <a href="/register">Klik her for at registrere en ny bruger</a><br><br>
    <a href="/login">Klik her for at gå til login</a><br><br>
    <a href="/CatList">Klik her for få et list over Katte</a><br><br>
    <a href="/MemberList">Klik her for få et list over Medlemmer</a><br><br>
    <a href="/myProfile">Gå til Min Profil</a><br><br>

</p>
</body>
</html>