<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside - Racekatteklubben</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:insert="~{parts/navigation::navigation}"></div>


<h1 style="text-align: center; color: rebeccapurple; font-size: 40px; margin-top: 20px;">Velkommen til Racekatteklubben!</h1><br>

<h2 style="text-align: center; color: rebeccapurple; font-size: 30px; margin-top: 1px;">Kommende Udstillinger & Events</h2><br>

<div th:if="${events.isEmpty()}">
    <p>Der er i øjeblikket ingen planlagte events.</p>
</div>
<form>
<table border="1" th:unless="${events.isEmpty()}" class="event-table">
    <thead>
    <tr>
        <th>Event Navn</th>
        <th>Dato</th>
        <th>Beskrivelse</th>
        <th>Tilmelding</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.eventName}"></td>
        <td th:text="${event.eventDate}"></td>
        <td th:text="${event.eventDescription}"></td>
        <td>
            <a th:href="@{/events/{id}(id=${event.eventID})}">Se mere & Tilmeld katte</a>
        </td>
    </tr>
    </tbody>
</table>
</form>
<div th:insert="~{parts/footer :: footer}" style="text-align: center; margin-bottom: 20px;"></div>
</body>
</html>