<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Registrer Kat</title>
</head>
<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<h1 style="text-align: center; color: rebeccapurple; font-size: 30px; margin-top: 10px;">Opret kat</h1>

<!-----viser error besked hvis validering fejler-->
<div th:if="${errors != null}">
    <ul>
        <li th:each="error : ${errors}" th:text="${error}" style="color: red"></li>
    </ul>
</div>

<form action="/registerKat" method="post" th:object="${cat}" class="form-container">

    <label>Katte navn:</label><br>
    <input type="text" th:field="*{catName}"><br><br>

    <label>Race:</label><br>
    <p>Sibirisk-Kat</p>
    <input type="hidden" th:field="*{catRace}"><br><br>

    <label>Fødselsdato:</label><br>
    <input type="date" th:field="*{catBirthday}"><br><br>

    <label>Køn:</label><br>
    <select th:field="*{catGender}">
        <option value="Han ">Han</option>
        <option value="Hun">Hun</option>
    </select><br><br>

    <label>Beskrivelse:</label><br>
    <textarea th:field="*{catDescription}" rows="3"></textarea><br><br>

    <label>Billede:</label><br>
    <input type="file" name="image" accept="image/*"><br><br>

    <button type="submit">Opret</button>

</form>

<div style="display: flex; justify-content: center;">
    <button onclick="window.location.href='/myProfile'" style="margin-top: 10px; text-align: center">Gå til Min Profil</button>
</div>

<div th:insert="~{parts/footer :: footer}" style="text-align: center; margin-bottom: 20px;"></div>


</body>
</html>
