

<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater Password</title>
</head>
<body>

<h2>Opdater Password</h2>

<div th:if="${errors != null}">
    <ul>
        <li th:each="error : ${errors}" th:text="${error}"></li>
    </ul>
</div>

<form th:action="@{/updatePassword/{id}(id=${editMember.memberID})}"
      method="post"
      th:object="${editMember}">

    <label style="color: red">Nuværende password:</label><br>
    <input type="password" name="currentPassword"><br><br>

    <label style="color: red">Nyt password:</label><br>
    <input type="password" name="newPassword"><br><br>

    <label style="color: red">Gentag nyt password:</label><br>
    <input type="password" name="confirmPassword"><br><br>

    <button type="submit">Opdater password</button>

</form>

<p><a href="/myProfile">Gå tilbage til profil</a></p>

</body>
</html>