

<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Opdater Password</title>
</head>
<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<h1 style="text-align: center; color: rebeccapurple; font-size: 30px; margin-top: 10px;">Opdater password</h1>

<div th:if="${errors != null}">
    <ul>
        <li th:each="error : ${errors}" th:text="${error}"></li>
    </ul>
</div>

<form th:action="@{/updatePassword/{id}(id=${editMember.memberID})}"
      method="post"
      th:object="${editMember}"
        class="form-container">

    <label style="color: red">Nuværende password:</label><br>
    <input type="password" name="currentPassword"><br><br>

    <label style="color: red">Nyt password:</label><br>
    <input type="password" name="newPassword"><br><br>

    <label style="color: red">Gentag nyt password:</label><br>
    <input type="password" name="confirmPassword"><br><br>

    <button type="submit">Opdater password</button>

</form>

<div style="display: flex; justify-content: center;">
    <button onclick="window.location.href='/myProfile'" style="margin-top: 10px; text-align: center">Gå til Min Profil</button>
</div>

<div th:insert="~{parts/footer :: footer}" style="text-align: center; margin-bottom: 20px;"></div>

</body>
</html>